application/config/config.php
.htaccess
.idea/
nbproject/*
uploads/img/profiles/*
uploads/img/products/*
node_modules/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
